<div class="row justify-content-md-center" style="margin:0;width: 100%;">
  <div class="col-lg-10 no-padding">
    <div class="display-div">
      <div class="row">
        <div class="col">
          <h5 style="margin: 4px;">
            <i class="fas fa-users" style="margin-right: 0.25em;"></i>
            <b>Glasači</b>
          </h5>
        </div>

        <div class="col" style="text-align: right;">
          <button [routerLink]="['/admin/glasaci/dodaj']" mat-raised-button color="primary">
            <i class="fas fa-plus" style="margin-right: 0.25em;"></i>
            Dodaj glasača
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center" style="margin:0;width: 100%;">
  <div class="col-lg-7 no-padding">
    <div class="display-div" style="margin-bottom: 15px;">
      <div>
        <table *ngIf="glasaci?.length > 0;else noGlasaci" class="table table-sm table-striped table-bordered" style="min-width: 100% !important;margin-bottom: 0px;">
          <thead>
            <tr>
              <th>OIB</th>
              <th>Ime i prezime</th>
              <th>Mjesto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let glasac of glasaci">
              <td>{{glasac.oib}}</td>
              <td>{{glasac.ime}} {{glasac.prezime}}</td>
              <td *ngIf="glasac?.izbornoMjesto;else noIzbornoMjesto">{{glasac.izbornoMjesto}}</td>
              <ng-template #noIzbornoMjesto><td><i>/</i></td></ng-template>
            </tr>
          </tbody>
        </table>
        <ng-template #noGlasaci>
          <h6><b>Nema glasača.</b></h6>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-lg-3 no-padding">
    <div class="display-div" style="margin-bottom: 15px;">
      <div>
        <h5><b>Dodavanje glasača u izborno mjesto</b></h5>
        <form #formaddglasacizbornomjesto="ngForm" (ngSubmit)="addGlasacIzbornoMjesto(formaddglasacizbornomjesto)"
              name="formaddglasacizbornomjesto">
          <div class="form-group">
            <mat-form-field style="min-width: 100% !important;">
              <mat-label>Odaberite glasača</mat-label>
              <mat-select [(ngModel)]="selectedGlasac" name="glasacId" required>
                <mat-option *ngFor="let g of glasaci" [value]="g?.id">
                  {{g.ime}} {{g.prezime}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="min-width: 100% !important;">
              <mat-label>Odaberite izborno mjesto</mat-label>
              <mat-select [(ngModel)]="selectedIzbornoMjesto" name="izbornoMjestoId" required>
                <mat-option *ngFor="let im of izbornaMjesta" [value]="im?.id">
                  {{im.naziv}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="min-width: 100%;">
              <input matInput ngModel #vrijemeOd name="vrijemeOd" [matDatepicker]="vrijemeOd"
                     placeholder="Vremensko razdoblje od" required>
              <mat-datepicker-toggle matPrefix [for]="vrijemeOd"></mat-datepicker-toggle>
              <mat-datepicker #vrijemeOd></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="min-width: 100%;">
              <input matInput #vrijemeDo ngModel name="vrijemeDo" [matDatepicker]="vrijemeDo"
                     placeholder="Vremensko razdoblje do" [min]="vrijemeDo.value" required>
              <mat-datepicker-toggle matPrefix [for]="vrijemeDo"></mat-datepicker-toggle>
              <mat-datepicker #vrijemeDo></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" style="width: 100% !important;" type="submit">
              Dodaj
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
