<div class="row justify-content-md-center" style="margin:0;width: 100%;">
  <div class="col-lg-6" style="padding: 0;">
    <div class="display-div">
      <h4><b>{{izbori?.naziv}}</b></h4>
      <h6 style="margin-bottom: 0;">Glasate kao: <b>{{lastGlasac.ime}} {{lastGlasac.prezime}}</b></h6>
    </div>

    <div class="display-div">
      <div class="form-group">
        <mat-form-field *ngIf="kandidature" style="min-width: 100% !important;">
          <mat-label>Odabrani kandidat</mat-label>
          <mat-select [(ngModel)]="selectedKandidat">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let k of kandidature" [value]="k.id">
              {{k.kandidat.ime}} {{k.kandidat.prezime}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox class="example-margin" [(ngModel)]="checkboxAccept">Prihvaćam <a [routerLink]="['']">pravila i uvjete</a> glasanja.</mat-checkbox>

        <button mat-raised-button color="primary" style="width: 100% !important;"
                [disabled]="!(selectedKandidat && checkboxAccept)" (click)="glasajClick()">
          Glasaj
        </button>
      </div>
    </div>
  </div>
</div>
