@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*DOM*/
body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

div {
  text-align: left;
}

p {
  margin-bottom: 0 !important;
}

/*Bootstrap*/
.row:not(:last-child) {
  margin-bottom: 1.5em;
}

.btn.btn-xs {
  padding: .45rem .45rem 0.375rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

/*Custom*/
.no-padding {
  padding: 0 !important;
}

.display-div {
  border-radius: 3px;
  padding: 1em;
  background-color: #ffffff;
  font-family: inherit;
  box-shadow: 0 0 0.3em rgba(177, 145, 145, 0.4);
  margin: 0.5em;
}

.display-div-item {
  margin: .15em 1em;
  padding: 1em;
  background-color: rgba(0,0,0,0.01);
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  border-radius: 0.2em;
  border: 1px solid #dee2e6;
  width: 100%;
}

  .display-div.descriptive {
    padding: 0.5em 1em 0.1em;
    border: 1px solid rgba(50, 102, 174, 0.38);
    box-shadow: 0 0 3px rgba(50, 102, 174, 0.38);
    background-color: rgba(50, 102, 174, 0.84);
    color: #fff;
  }


  .display-div-item.descriptive {
    padding: 0.5em 1em;
    border: 1px solid rgba(50, 102, 174, 0.38);
    box-shadow: 0 0 3px rgba(50, 102, 174, 0.38);
    background-color: rgba(50, 102, 174, 0.84);
    color: #fff;
  }

  .display-div-item.clickable {
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
  }

    .display-div-item.clickable:hover {
      background-color: rgba(0,0,0,.035);
      box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }


.snack-danger{
  background-color: #ff3131 !important;
  color: #fff;
}

.snack-info {
  background-color: rgb(63, 147, 174) !important;
  color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
