<div class="col-lg-3 col-xs-12" style="margin: auto;padding:0;">
  <div *ngIf="im" class="display-div">
    <h5>
      <i class="far fa-list-alt" style="margin-right: 0.25em;"></i>
      <b>Uredi izborno mjesto</b>
    </h5>
    <hr class="hr">
    <form #formeditim="ngForm" (ngSubmit)="editIzbornoMjesto(formeditim)" name="formEditIm">
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input #naziv="ngModel" matInput id="naziv" placeholder="Naziv"
                 maxlength="150" name="naziv" required type="text" [(ngModel)]="im.naziv">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input #adresa="ngModel" matInput id="adresa" placeholder="Adresa"
                 maxlength="150" name="adresa" required type="text" [(ngModel)]="im.adresa">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" style="width: 100% !important;" type="submit">
          Spremi promjene
        </button>
      </div>
    </form>
  </div>
</div>
