<div class="col-lg-3 col-xs-12" style="margin: auto;padding:0;">
  <div *ngIf="izbori" class="display-div">
    <h5>
      <i class="far fa-list-alt" style="margin-right: 0.25em;"></i>
      <b>Uredi izbore</b>
    </h5>
    <hr class="hr">
    <form #formeditizbori="ngForm" (ngSubmit)="editIzbori(formeditizbori)" name="formEditIzbori">
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input #naziv="ngModel" matInput id="naziv" placeholder="Naziv"
                 maxlength="150" name="naziv" required type="text" [(ngModel)]="izbori.naziv">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <textarea #opis="ngModel" rows="2" matInput placeholder="Opis"
                    id="opis" name="opis" ngModel [(ngModel)]="izbori.opis"></textarea>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input matInput ngModel #odrzavanjeOd name="odrzavanjeOd" [matDatepicker]="odrzavanjeOd"
                 placeholder="Održavanje od" required [(ngModel)]="izbori.odrzavanjeOd">
          <mat-datepicker-toggle matPrefix [for]="odrzavanjeOd"></mat-datepicker-toggle>
          <mat-datepicker #odrzavanjeOd></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input matInput #odrzavanjeDo ngModel name="odrzavanjeDo" [matDatepicker]="odrzavanjeDo"
                 placeholder="Održavanje do" [min]="odrzavanjeOd.value" required [(ngModel)]="izbori.odrzavanjeDo">
          <mat-datepicker-toggle matPrefix [for]="odrzavanjeDo"></mat-datepicker-toggle>
          <mat-datepicker #odrzavanjeDo></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" style="width: 100% !important;" type="submit">
          Spremi promjene
        </button>
      </div>
    </form>
  </div>
</div>
