<div class="row justify-content-md-center" style="margin:0;width: 100%;">
  <div *ngIf="!glasac; else izboriZaGlasaca" class="col-lg-6" style="padding: 0;">
    <div class="display-div descriptive">
      <h4>Glasanje</h4>
    </div>
    <form #formGlasaj="ngForm" name="formGlasaj">
      <div class="display-div" style="padding-bottom: .5em;">
        <h6><b>Unesite svoj OIB za nastavak:</b></h6>
        <div class="form-group">
          <mat-form-field style="min-width: 100%;">
            <input #oib="ngModel" matInput id="oib" name="oib" placeholder="Oib"
                   maxlength="11" minlength="11" required type="text" [(ngModel)]="_oib">
            <mat-error *ngIf="oib.touched && !oib.valid">
              OIB je obvezan i mora sadržavati 11 numeričkih znakova.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="display-div">
        <button mat-raised-button color="primary" style="width: 100% !important;"
                [disabled]="!oib.valid" (click)="posaljiOib()">
          Pošalji OIB
        </button>
      </div>
    </form>
  </div>

  <ng-template #izboriZaGlasaca>
    <div class="col-lg-6" style="padding: 0;">
      <div class="display-div descriptive" style="padding-bottom: .5em;">
        Pozdrav, <b>{{glasac?.ime}} {{glasac?.prezime}}.</b>
        <br />
        <b>OIB:</b> {{glasac?.oib}}
      </div>

      <div style="text-align: right;padding: 0 0.5em;">
        <button mat-stroked-button color="warn" style="width: 100% !important;" (click)="odjavaClick()">Odjava</button>
      </div>

      <div class="display-div">
        <div *ngIf="izbori?.length > 0; else noIzbori">
          <h4>Aktualni izbori:</h4>
          <div *ngFor="let i of izbori" class="display-div-item clickable" [routerLink]="['/glasaj/izbori', i.id]">
            <p style="font-size: 1.1em;"><b>Naziv: </b><u>{{ i.naziv }}</u></p>
            <p><b>Opis: </b>{{ i.opis }}</p>
            <p><b>Trajanje: </b>{{ i.odrzavanjeOdFormat }} do {{ i.odrzavanjeDoFormat }}</p>
          </div>
        </div>
        <ng-template #noIzbori>
          <h6 style="font-weight: 600;margin-bottom: 0;">Trenutno nema aktualnih izbora na kojima niste glasali.</h6>

        </ng-template>
      </div>



    </div>
  </ng-template>
</div>
