<div class="col-lg-7 row" style="margin: auto;padding:0;">
  <div class="col-lg-12">
    <div class="display-div no-margin">
      <h5 style="margin:0;">
        <b>
          <i class="fas fa-cogs"></i>
          Postavke
        </b>
      </h5>
      <div class="clearfix"></div>
    </div>
    <div class="display-div no-margin">
      <h5><b>Izborna mjesta</b></h5>
      <div class="table-responsive">
        <table id="im-table" class="table table-hover table-bordered table-sm" *ngIf="izbornaMjesta">
          <thead>
            <tr>
              <th style="width: 35%;">Naziv</th>
              <th style="width: 65%;">Adresa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let im of izbornaMjesta;" [routerLink]="['/admin/mjesta/uredi', im.id]">
              <td>{{im.naziv}}</td>
              <td>{{im.adresa}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button [routerLink]="['/admin/mjesta/dodaj']" mat-raised-button color="primary" style="width: 100%;">
        <i class="fas fa-plus" style="margin-right: 0.25em;"></i>
        Dodaj izborna mjesta
      </button>
    </div>
  </div>
</div>
