.row {
  margin: 0;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.col-lg-3, .col-lg-4 {
  padding: 10px;
}

.display-div:not(:last-child) {
  margin-bottom: 20px;
}

#im-table:hover {
  cursor: pointer;
}
