<div class="col-lg-4 col-xs-12" style="margin: auto;padding:0;">
  <div class="display-div">
    <h5>
      <i class="fas fa-users" style="margin-right: 0.35em;"></i>
      <b>Dodaj glasača</b>
    </h5>
    <hr class="hr">

    <form #formaddglasac="ngForm" (ngSubmit)="addGlasac(formaddglasac)" name="formAddGlasac">
      <div style="margin: 12.5px 0 0 !important;overflow: hidden;">
        <div class="form-group">
          <mat-form-field style="min-width: 100%;">
            <input #ime="ngModel" matInput id="ime" placeholder="Ime" maxlength="150" name="ime"
                   ngModel required type="text">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field style="min-width: 100%;">
            <input #prezime="ngModel" matInput id="prezime" placeholder="Prezime" maxlength="150" name="prezime"
                   ngModel required type="text">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field style="min-width: 100%;">
            <input #oib="ngModel" matInput id="oib" placeholder="OIB" minlength="11" maxlength="11" name="oib"
                   ngModel required type="text">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" style="width: 100% !important;" type="submit">
          Dodaj glasača
        </button>
      </div>
    </form>
  </div>
</div>
