<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div style="width: 100%;">
  <div *ngIf="rezultati?.length > 0; else noResults" id="rezultati-table"
       style="text-align: center;margin-bottom: 0;width: 100% !important;">

    <div style="border: 1px solid #a5a5a5;padding: 5px 10px;border-radius: 4px;">
      <div class="row" style="border-bottom: 1px solid rgba(0,0,0,0.2);margin-bottom:0;">
        <div class="col" style="max-width:5px !important;"><b>#</b></div>
        <div class="col"><b>Puno ime</b></div>
        <div class="col" style="text-align:center;"><b>Glasovi</b></div>
        <div class="col" style="text-align:right;"><b>Postotak</b></div>
      </div>
      <div class="row" *ngFor="let rezultat of rezultati;let i = index" style="margin-bottom:0;">
        <div class="col" style="max-width:5px !important;">{{i+1}}. </div>
        <div class="col">{{rezultat.ime}} {{rezultat.prezime}}</div>
        <div class="col" style="text-align:center;">{{rezultat.glasovi}}</div>
        <div class="col" style="text-align:right;">{{rezultat.postotak  | number : '1.2-2'}}&nbsp;%</div>
      </div>
    </div>

  </div>

  <ng-template #noResults>
    <b>Nema rezultata.</b>
  </ng-template>

</div>
