<div class="col-lg-7 row" style="margin: auto;padding:0;">
  <div class="col-lg-5" *ngIf="izbori">
    <div class="display-div no-margin">
      <h5><b>{{ izbori.naziv }}</b></h5>
      <b>Opis:</b> {{ izbori.opis }}
      <br />
      <b>Održavanje od:</b> {{izbori.odrzavanjeOdFormat}}
      <br />
      <b>Održavanje do:</b> {{izbori.odrzavanjeDoFormat}}
      <button *ngIf="izbori.editable" [routerLink]="['/admin/izbori/uredi', izbori.id]" mat-stroked-button color="primary" style="width:100%;text-align: center;margin-top: 5px;">
        <i class="fas fa-edit" style="margin-right: 0.25em;"></i>
        Uredi izbore
      </button>
      <div class="clearfix"></div>
    </div>

    <div class="display-div no-margin">
      <h5><b>Prijavljene kandidature</b></h5>
      <div *ngIf="kandidati?.length > 0; else nemaKandidata" class="table-responsive">
        <table class="table table-striped table-sm table-border" style="border: 1px solid #d8d8d8;">
          <thead>
            <tr>
              <th>OIB</th>
              <th>Ime</th>
              <th>Prezime</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let kandidat of kandidati">
              <td>{{kandidat.oib}}</td>
              <td>{{kandidat.ime}}</td>
              <td>{{kandidat.prezime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #nemaKandidata>
        Za odabrane izbore nema kandidatura.
      </ng-template>
      <button [routerLink]="['/admin/kandidature/dodaj', izbori.id]" mat-raised-button color="primary" style="width: 100%;">
        <i class="fas fa-plus" style="margin-right: 0.25em;"></i>
        Dodaj kandidature
      </button>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="display-div no-margin">
      <h5><b>Rezultati izbornih mjesta</b></h5>
      <mat-form-field *ngIf="izbornaMjesta" style="min-width: 100% !important;">
        <mat-label>Odaberite izborno mjesto</mat-label>
        <mat-select [(ngModel)]="selectedIzbornoMjesto"
                    (selectionChange)="izbornoMjestoChanged()">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let im of izbornaMjesta" [value]="im.id">
            {{im.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="display-div no-margin" style="margin-bottom: 1.5em;">
      <app-rezultati-izbora-table [rezultati]="rezultati">
      </app-rezultati-izbora-table>
    </div>
  </div>
</div>
