nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  color: #fff;
  padding: 0.3em;
  background-color: rgb(83,127,187);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

  nav .a {
    color: #fff !important;
  }



.logo-div {
  margin-left: 0.25em;
  width: 3em;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  transition: background-color 0.25s;
}

  .logo-div:hover {
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
  }

#logo {
  width: 100%;
}

.float-right {
  float: right;
}

.nav-links-div {
  float: right;
}

  .nav-links-div a {
    margin: .75em .25em;
    font-weight: bold;
    color: #fff;
    color: #fff;
  }

nav button {
  margin: 0.25em;
}

.col {
  padding-right: 0;
}

.btn-primary {
  border: 1px solid rgba(255,255,255,0.2);
}
