<nav>
  <div style="float: left;">    
    <button [routerLink]="['/glasaj']" mat-raised-button color="accent" style="display: flex;align-items: center;">
      <i class="fas fa-vote-yea" style="margin-right: 5px;margin-top: -2.5px;"></i>
      Glasaj
      <div class="clearfix"></div>
    </button>
  </div>
  <div style="float:right;">
    <button [routerLink]="['/admin']" mat-raised-button color="default">Izbori</button>
    <button [routerLink]="['/admin/glasaci']" mat-raised-button color="default">Glasači</button>
    <button [routerLink]="['/admin/postavke']" mat-raised-button color="default">Postavke</button>
  </div>
  <div class="clearfix"></div>
</nav>
