<div class="col-lg-3 col-xs-12" style="margin: auto;padding:0;">
  <div class="display-div">
    <h5>
      <i class="far fa-list-alt" style="margin-right: 0.25em;"></i>
      <b>Dodaj nove izbore</b>
    </h5>
    <hr class="hr">
    <form #formaddizbori="ngForm" (ngSubmit)="addIzbori(formaddizbori)" name="formAddIzbori">
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input #naziv="ngModel" matInput id="naziv" placeholder="Naziv" maxlength="150" name="naziv" ngModel required type="text">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <textarea #opis="ngModel" rows="2" matInput placeholder="Opis" id="opis" name="opis" ngModel></textarea>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input matInput ngModel #odrzavanjeOd name="odrzavanjeOd" [matDatepicker]="odrzavanjeOd"
                 placeholder="Održavanje od" required>
          <mat-datepicker-toggle matPrefix [for]="odrzavanjeOd"></mat-datepicker-toggle>
          <mat-datepicker #odrzavanjeOd></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input matInput #odrzavanjeDo ngModel name="odrzavanjeDo" [matDatepicker]="odrzavanjeDo" placeholder="Održavanje do" [min]="odrzavanjeOd.value" required>
          <mat-datepicker-toggle matPrefix [for]="odrzavanjeDo"></mat-datepicker-toggle>
          <mat-datepicker #odrzavanjeDo></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" style="width: 100% !important;" type="submit">
          Dodaj izbore
        </button>
      </div>
    </form>
  </div>
</div>
