<div *ngIf="izbori" class="row">
  <div class="display-div-item descriptive">
    <b>{{title}}</b>
  </div>
  <div *ngFor="let i of izbori" class="display-div-item clickable" [routerLink]="['/admin/izbori', i.id]">
    <p style="font-size: 1.1em;"><b>Naziv: </b><u>{{ i.naziv }}</u></p>
    <p><b>Opis: </b>{{ i.opis }}</p>
    <p><b>Trajanje: </b>{{ i.odrzavanjeOdFormat }} do {{ i.odrzavanjeDoFormat }}</p>
  </div>
</div>
