.display-div {
  margin-top: 1.25em;
  padding: 2em;
}

.div {
  padding: 1em;
}

.alert {
  margin-top: 0.5em;
}

.hr {
  margin: 0.75em 0;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid rgba(255, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 5px !important;
}

.mat-form-field-infix {
  padding-top: 0 !important;
}
