<div class="col-lg-3 col-xs-12" style="margin: auto;padding:0;">
  <div class="display-div">
    <h5>
      <i class="far fa-list-alt" style="margin-right: 0.25em;"></i>
      <b>Dodaj izborno mjesto</b>
    </h5>
    <hr class="hr">
    <form #formaddim="ngForm" (ngSubmit)="addIzbornoMjesto(formaddim)" name="formaddim">
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input #naziv="ngModel" matInput id="naziv" placeholder="Naziv" maxlength="150" name="naziv" ngModel required type="text">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="min-width: 100%;">
          <input #adresa="ngModel" matInput id="adresa" placeholder="Adresa" maxlength="150" name="adresa" ngModel required type="text">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" style="width: 100% !important;" type="submit">
          Dodaj izborno mjesto
        </button>
      </div>
    </form>
  </div>
</div>
