<div class="col-lg-4 col-xs-12" style="margin: auto;padding:0;">
  <div class="display-div">
    <h5>
      <i class="fas fa-users" style="margin-right: 0.35em;"></i>
      <b>Dodaj kandidature</b>
    </h5>
    <h6><b>{{izbori?.naziv}}</b></h6>
    <hr class="hr">

    <div [@.disabled]="true">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Kandidat">
          <form #formaddpostojeci="ngForm" (ngSubmit)="addPostojeci(formaddpostojeci)" name="formAddPostojeci">
            <div class="form-group" style="margin: 12.5px 0 -3px !important;overflow: hidden;">
              <mat-form-field style="min-width: 100% !important;">
                <mat-label>Odaberite kandidata</mat-label>
                <mat-select [(ngModel)]="selectedKandidat" name="kandidatId" required>
                  <mat-option *ngFor="let k of kandidati" [value]="k?.id">
                    {{k.ime}} {{k.prezime}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field style="min-width: 100% !important;">
                <mat-label>Izborno mjesto</mat-label>
                <mat-select [(ngModel)]="selectedMjesto" name="mjestoId" required>
                  <mat-option *ngFor="let mjesto of izbornaMjesta" [value]="mjesto?.id">
                    {{mjesto.naziv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" style="width: 100% !important;" type="submit">
              Dodaj izbore
            </button>
          </form>
        </mat-tab>
        <mat-tab label="Novi kandidat">
          <form #formaddnovi="ngForm" (ngSubmit)="addNovi(formaddnovi)" name="formAddNovi">
            <div style="margin: 12.5px 0 0 !important;overflow: hidden;">
              <div class="form-group">
                <mat-form-field style="min-width: 100%;">
                  <input #ime="ngModel" matInput id="ime" placeholder="Ime" maxlength="150" name="ime"
                         ngModel required type="text">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field style="min-width: 100%;">
                  <input #prezime="ngModel" matInput id="prezime" placeholder="Prezime" maxlength="150" name="prezime"
                         ngModel required type="text">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field style="min-width: 100%;">
                  <input #oib="ngModel" matInput id="oib" placeholder="OIB" minlength="11" maxlength="11" name="oib"
                         ngModel required type="text">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field style="min-width: 100% !important;">
                  <mat-label>Izborno mjesto</mat-label>
                  <mat-select [(ngModel)]="selectedMjesto" name="mjestoId" required>
                    <mat-option *ngFor="let mjesto of izbornaMjesta" [value]="mjesto?.id">
                      {{mjesto.naziv}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary" style="width: 100% !important;" type="submit">
                Dodaj izbore
              </button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div>
    </div>
  </div>
</div>
