<div class="row justify-content-md-center" style="margin:0;width: 100%;">
  <div class="col-lg-10 no-padding">
    <div class="display-div">
      <!--Izbori header-->
      <div class="row">
        <div class="col">
          <h5 style="margin: 4px;">
            <i class="far fa-list-alt" style="margin-right: 0.25em;"></i>
            <b>Izbori</b>
          </h5>

        </div>

        <div class="col" style="text-align: right;">
          <button [routerLink]="['/admin/izbori/dodaj']" mat-raised-button color="primary">
            <i class="fas fa-plus" style="margin-right: 0.25em;"></i>
            Dodaj izbore
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row justify-content-md-center" style="margin:0;width: 100%;">
  <div class="col-lg-5 no-padding">
    <div class="display-div" style="margin-bottom: 15px;">
      <div>
        <app-display-izbori title="Aktualni izbori" [izbori]="aktualni"></app-display-izbori>
      </div>
    </div>

    <div class="display-div">
      <div>
        <app-display-izbori title="Nadolazeći izbori" [izbori]="nadolazeci"></app-display-izbori>
      </div>
    </div>

  </div>

  <div class="col-lg-5 no-padding" style="margin-bottom: 10px;">
    <div class="display-div">
      <div>
        <app-display-izbori title="Završeni izbori" [izbori]="zavrseni"></app-display-izbori>
      </div>
    </div>
  </div>
</div>
